<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feliz Natal!</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id="main-container">
    <h1>🎄 Bem-vindo ao Natal! 🎁</h1>
    <textarea id="base64-input" placeholder="Cole seu texto Base64 aqui"></textarea>
    <button id="decode-button">OK</button>

    <!-- Contêiner para exibir o texto decodificado -->
    <div id="result-container">
      <h2>O seu amigo secreto é: </h2>
      <p id="decoded-text"></p>
    </div>

    <canvas id="canvas"></canvas>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>